<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 col-md-4">
            <div class="panel panel-default credit-card-box">
                <div class="panel-body">
                    <form role="form" id="payment-form" method="POST" action="javascript:void(0);">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <label for="cardNumber">Número de tarjeta: </label>
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-credit-card"></i></span>
                                        <input 
                                            type="number"
                                            ng-model="global.cardInfo.nroTarjeta"
                                            class="form-control"
                                            name="cardNumber"
                                            placeholder="xxxx-xxxx-xxxx-xxxx"
                                            autocomplete="cc-number"
                                            required autofocus
                                        />
                                    </div>
                                </div>                            
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <label for="vencimiento"><span class="hidden-xs">Vencimiento: </span></label>
                                    <input 
                                        type="number"
                                        ng-model="global.cardInfo.vencimiento"
                                        maxlength="4"
                                        class="form-control" 
                                        name="vencimiento"
                                        placeholder="MMAA"
                                        autocomplete="cc-exp"
                                        required 
                                    />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <label for="cvc">Código de seguridad: </label>
                                    <input 
                                        type="password"
                                        ng-model="global.cardInfo.cvc"
                                        maxlength="3"
                                        class="form-control"
                                        name="cvc"
                                        placeholder="CVC"
                                        autocomplete="cc-csc"
                                        required
                                    />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <button class="subscribe btn btn-primary btn-lg btn-block" type="button" ng-click="global.enviar()">Solicitar Pago</button>
                            </div>
                        </div>
                        <div class="row" style="display:none;">
                            <div class="col-xs-12">
                                <p class="payment-errors"></p>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>        
    </div>
</div>