<div id="home" class="container" ng-init="home.init()">
	<div class="row">
		<div class="col-8">
			<header class="main-header">
				<h2>Mostrando {{ home.listOfBanners.length }} participaciones</h2>
			</header>
			<section id="banners">
				<div
					ng-include="'../templates/components/banner.html'"
					ng-repeat="banner in home.listOfBanners">
				</div>
			</section>
		</div>
		<div class="col-4">
			<section id="selection-panel">
				<div ng-include="'../templates/selection-panel.html'"></div>
			</section>
		</div>
	</div>
</div>
