.main-form{
    max-width: 400px;
    padding: 10px 40px;
    background:#FFF;
    color: #888;
    text-shadow: none;

    .form-group{
        padding: 7px 0;
        position: relative;
        label{
            margin-bottom: 15px;
            &.text-control{
                @include transition(all, 0.3s, ease);
                position: absolute;
                z-index: 5;
                top: 8px;
                left: 58px;
                cursor: text;
            }
        }
   
        .input-group {
            .input-group-addon{
                border: none;
                background-color: #FFF;
                i{
                    color: #888;
                    font-size: 17px;
                }
            }
            input{
                border-radius: 0;
                font-size: 14px;
                padding-top: 3px;
                &.form-control{
                    border: none;
                    border-bottom: 1px solid #888;
                    box-shadow: none;
                    &:focus{
                        border-bottom: 1px solid #66afe9;
                        & + label.text-control{
                            top: -8px;
                            left: 12px;
                            font-size: 11px;
                        }
                    }
                }
            }
        }
   
        .form-control {
            height: auto!important;
            padding: 8px 12px !important;
        }
        button {
            @include transition(all, 0.3s, cubic-bezier(.25,.8,.25,1));
            @include border-radius(2px);
            @include material-shadow-helper(1);
            @include gradient(#de2533, #be1d29);

            margin-top: 28px;
            padding: 6px 12px;
            border: none;
            color: #FFF;
            cursor: pointer;
            &:hover{
                @include material-shadow-helper(4);
            }
        }
    }
}