/*
/* Created by Filipe Pina
 * Specific styles of signin, register, component
 */
/*
 * General styles
 */
 
// #playground-container {
//     height: 500px;
//     overflow: hidden !important;
//     -webkit-overflow-scrolling: touch;
// }

body, html{
    background: black default;
    height: 100%;
 	font-family: 'Oxygen', sans-serif;
}

.reset-spacing{
    margin: 0;
    padding: 0;
}