$gray-base:     #000000 !default;
$gray-darker:   #202020 !default;
$gray-darker-2: #2D2D2F !default;
$gray-dark:     #4A4A4A !default;
$gray:          #686868 !default;
$gray-light:    #808080 !default;
$gray-lighter:  #DDDDDD !default;
$gray-hairline: #F5F5F5 !default;
$white:         #FFFFFF !default;

/* Blue Palette*/
$brand-blue:    #34759C !default;
	$blue-dark: darken($brand-blue, 5%);
	$blue-light: lighten($brand-blue, 5%);
/* Green Palette*/
$brand-green:   #32AC6F !default;
	$green-dark: darken($brand-green, 5%);
	$green-light: lighten($brand-green, 5%);
/* Yellow Palette*/
$brand-yellow:  #F5A747 !default;
	$yellow-dark: darken($brand-yellow, 5%);
	$yellow-light: lighten($brand-yellow, 5%);
/* Orange Palette*/
$brand-orange:  #F57147 !default;
	$orange-dark: darken($brand-orange, 5%);
	$orange-light: lighten($brand-orange, 5%);

$body-bg:       $gray-lighter !default;
$text-color:    $white !default;

$fa-font-path: "../fonts/font-awesome" !default;
$icon-font-path: "../fonts/bootstrap/" !default;