<section id="banner">
	<div class="col-4">
		<img src="https://www.google.com.ar/search?q=img&source=lnms&tbm=isch&sa=X&ved=0ahUKEwiPxsnx-LHdAhXDiZAKHcrsBf8Q_AUICigB&biw=1366&bih=638#imgrc=RYBz6TYw2D7ZZM:" alt="">
	</div>
	<div class="col-8">
		<header>
			Titulo
		</header>
		<article>
			Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consequatur ut quibusdam praesentium unde exercitationem sit illum repudiandae laboriosam voluptate asperiores, odit ipsa ducimus provident! Nesciunt optio facere exercitationem? Accusamus, sequi?
		</article>
	</div>
</section>