form {
	&.main-form {
		max-width: 400px;
		padding: 10px 40px;
		background: #fff;
		color: #888;
		text-shadow: none;
	
		.form-group {
			padding: 3px 0;
			.input-group-text {
				background-color: #f7f7f7;
				font-size: 17px;
			}
			.form-control {
				padding: 8px 12px !important;
				border: none;
				border-radius: 0;
				border-bottom: 1px solid #888;
				box-shadow: none;
				&:focus {
					border-bottom: 1px solid #66afe9;
					& + label.text-control {
						top: -8px;
						left: 12px;
						font-size: 11px;
					}
				}
			}

			button {
				@include transition(all, 0.3s, cubic-bezier(0.25, 0.8, 0.25, 1));
				@include border-radius(2px);
				@include material-shadow-helper(1);
				@include gradient(#de2533, #be1d29);

				padding: 6px 12px;
				border: none;
				color: #fff;
				&:hover {
					@include material-shadow-helper(4);
					background-color: #de2533;
				}
			}
		}
	}
}
