body{
  font-family: sans-serif;
  background: #928f8b;
  background-attachment: fixed;


  section{
    width: 720px;
    position: relative;
    margin: auto;
    header{
      background-color: #FCFCFC;
      display: grid;
      padding: 5px;
      img{
        width: 70px;
      }
    }

    .form-content{
      background-color: #FCFCFC;
      padding: 20px;
      margin-top: 10px;
      h3{
        color:#CD262B;
        font-size: 1em;
        font-weight: lighter;
        border-bottom: 1px solid #DEDEDE;
        padding-bottom: 10px;
      }

      form{
        width: 100%;
        display:inline-block;

        fieldset{
          border: none;
          width: 50%;
          float: left;
          margin: 10px 0px;
          padding: 0px;

          span{
            font-size: 0.9em;
            width: 45%;
            display: inline-block;
          }
          input{
            padding: 5px;
            outline: none;
          }

          select{
            height:30px;
          }

          a{
            color:#000;
          }
        }
        .btn-content{
          float: right;
          margin-top:30px;

          button{
            padding: 8px;
            border-radius: 5px;
            border: none;
            background-color: #837C74;
            color:#fff;
            cursor: pointer;

            &:hover{
              background-color:#5a554e;
            }
          }
          .confirmar{
            background-color: #E7282B;
            &:hover{
              background-color:#ab2022;
            }
          }
        }
      }
    }
  }
}